.collection-products-list {

}

.collection-products-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  overflow: scroll;
  overflow-y: hidden;
  gap: 2rem;
}

.collection-products-list li {
  flex: 1 0 33%;
}

.collection-products-list li + li {
  /* margin-right: 2rem; */
}

/* Mobile */
@media (max-width: 767px) {
  .collection-products-list li {
    flex: 1 0 27%;
  }
}